{
  "config" : {
    "embedFooterText" : "Kurisutaru Twitter to Discord",
    "embedFooterImageUrl" : "https://i.imgur.com/yae4JIT.png",
    "includeReTweet" : false,
    "generateEmbed" : true,
    "useFxTwitter" : false
  },
  "nitterServer" : ["https://nitter.d420.de"],
  "twitterWatch" : [
    {
      "twitterHandleName" : "priconne_redive",
      "webhookUrl" : ["", ""],
      "discordMention" : true,
      "discordMentionRoleId" : ["1234567890", "0987654321"]
    },
    {
      "twitterHandleName" : "priconne_redive",
      "webhookUrl" : ["", ""],
      "discordMention" : true,
      "discordMentionRoleId" : ["1234567890", "0987654321"]
    }
  ]
}