{
  "config" : {
    "footerTextForEmbed" : "Kurisutaru Twitter to Discord",
    "footerImageUrlForEmbed" : "https://i.imgur.com/yae4JIT.png",
    "footerColorForEmbed" : ["ffb3ba","ffdfba","ffffba","baffc9","bae1ff"],
    "includeReTweet" : false,
    "generateEmbed" : true,
    "replaceTwitterLinkInPost" : "https://fixvx.com"
  },
  "nitterServer" : ["https://nitter.d420.de"],
  "twitterWatch" : [
    {
      "twitterHandleName" : "priconne_redive",
      "webhookUrl" : "",
      "discordMention" : true,
      "discordMentionRoleId" : "1234567890"
    },
    {
      "twitterHandleName" : "priconne_redive",
      "webhookUrl" : ["", ""],
      "discordMention" : true,
      "discordMentionRoleId" : ["1234567890", "0987654321"]
    }
  ]
}